body,
#root {
  margin: 0px;
  padding: 0px;
  color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  align-items: flex-start;
}

.cm-editor {
  height: 100%;
  width: 100%;
  color: white;
}